$dark-grey: #505763;
$blue: #4bacff;
$primary: $blue;
$link-color: #285c88;
$btn-primary: #1b1b1b;
$btn-primary-hover: #141414;
$btn-danger: $btn-primary-hover;
$btn-danger-hover: #070707;
$btn-danger-outlined: #9f2e45;
$btn-danger-outlined-hover: #1e1e1e;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$card-shadow-color: #afafaf;
